Makefile
config.h
config.h.in
config.log
config.status
src/*.o
src/*.exe
src/mboxgrep
src/.deps/
src/stamp-h1
aclocal.m4
autom4te.cache/
Makefile.in
configure
compile
depcomp
install-sh
missing
.gitignore
.vscode/*
*~
