Makefile
config.h
config.h.in
config.log
config.status
src/*.o
src/*.c~
src/*.h~
src/mboxgrep
src/.deps/
src/stamp-h1
aclocal.m4
autom4te.cache/
Makefile.in
configure
compile
depcomp
install-sh
missing
src/mboxgrep.exe
configure~
.gitignore
.vscode/*
